@keyframes linemove{
    from {background-position-x: 0;}
    to {background-position: 100vw;}
}

.Line{
    height: 5px;
    width: 100%;
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet, red);
    background-repeat: repeat;
    animation-name: linemove;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}