#arrow{
    position: fixed;
    right: -5rem;
    bottom: 2.5rem;
    height: 3rem;
    transition: right 1s, bottom 1s, filter 0.2s;
    
    &.showArrow{
        right: 3rem;
    }
    
    &.arrowUp{
        bottom: 6rem;
    }

    &:hover{
        cursor: pointer;
        filter: brightness(90%);
    }
}

@media screen and (max-width: 991px){
    #arrow{
        display: none;
    }
}

