#arrow{
    position: fixed;
    right: -5rem;
    bottom: 2.5rem;
    height: 3rem;
    transition: right 1s, bottom 1s, filter 0.2s;
}

#arrow.showArrow{
    right: 3rem;
}

#arrow.arrowUp{
    bottom: 6rem;
}

#arrow:hover{
    cursor: pointer;
    filter: brightness(90%);
}

@media screen and (max-width: 991px){
    #arrow{
        display: none;
    }
}