.detailsBanner{
    height: 13rem;
    width: 100%;
    background-size: 120% auto;
    background-position: -3rem 7%;
}

.detailsBannerOverlay{
    height: 13rem;
    width: 100%;
    background-image: linear-gradient(to right, #ffffffff, #ffffff00 80%);
    display: flex;
    justify-content: right;
    align-items: center;
}

.bannerTitle{
    font-size: 4.5rem;
    width: 40rem;
    text-align: right;
    margin-right: 5rem;
}