:root{
    --preto: #1d1d1b;
    --azul: #00beff;
    --azul-escuro: #076579;
    --degrade-from: #16e3e8;
    --degrade-to: #615ae8;
    --branco: #fefefe;
    --branco-escuro: #efefef;
    --cinza: #666666;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 16px;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;

    -webkit-font-smoothing: antialiased;
}

a{
    text-decoration: none;
}

@font-face{
    font-family: Arciform;
    src: url('../fonts/Arciform.otf') format('opentype');
}

body{
    background-image: url('/pattern.svg'), linear-gradient(to bottom, var(--degrade-from), var(--degrade-to));
    background-repeat: repeat, no-repeat;
    background-size: 10%, 100%;
}

main{
    min-height: 90vh;
}