.logoContainer{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.logoContainer img{
    height: 5rem;
    width: auto;
}

.logoContainer h1{
    font-family: Arciform;
    font-weight: 500;
    color: var(--branco);
    font-size: 2rem;
}