.social{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.social ul{
    list-style-type: none;
}

.social li{
    margin-bottom: 0.75rem;
}

.social li:first-child{
    font-weight: bold;
}

.social a{
    color: var(--branco);
}

.social a:hover{
    border-bottom: 1px solid var(--branco);
}