.item{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 2rem;
    align-items: center;
    height: 16rem;
    width: 70vw;
    margin: 1.5rem 0;
    background-color: var(--branco-escuro);
    padding-right: 2rem;
    transition: width 0.3s, transform 0.3s;
    border-radius: 5px;
}

.item:hover{
    transform: translateX(calc(-50% + 3px));
    background-color: var(--branco);
}

.item div{
    max-width: 50vw;
}

.thumb{
    border-radius: 5px 0 0 5px;
}

.leiaMais{
    color: var(--degrade-to);
    font-size: 1rem;
}

.leiaMais:hover{
    color: var(--azul-escuro);
    cursor: pointer;
}

.title{
    margin-bottom: 0;
    font-size: 1.2rem;
}

.pubDate{
    font-size: 0.8rem;
    color: var(--cinza);

}

.description{
    margin: 1.2rem 0;
}

.episodeOptions{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.playEpisode{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    background-color: var(--azul-escuro);
    color: var(--branco);
    border: none;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.playEpisode:hover{
    background-color: var(--azul);
    cursor: pointer
}

.playEpisode span{
    transform: translateY(1px);
}

.playEpisode img{
    height: 1.5rem;
}
