.item{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 2rem;
    align-items: center;
    height: 16rem;
    width: 70vw;
    margin: 1.5rem 0;
    background-color: var(--branco-escuro);
    padding-right: 2rem;
    transition: width 0.3s, transform 0.3s;
}

.item:hover{
    transform: translateX(calc(-50% + 3px));
    background-color: var(--branco);
}

.item div{
    max-width: 50vw;
}

.leiaMais{
    color: var(--degrade-to);
}

.leiaMais:hover{
    color: var(--azul-escuro);
    cursor: pointer;
}

.title{
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.description{
    margin-bottom: 1.2rem;
}

.episodeOptions{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.playEpisode{
    padding: 0.5rem;
    background-color: var(--azul-escuro);
    color: var(--branco);
    border: none;
    transition: background-color 0.2s;
}

.playEpisode:hover{
    background-color: var(--azul);
    cursor: pointer
}