@use '../../styles/global';

.item {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 2rem;
    align-items: center;
    height: 18rem;
    width: 70vw;
    margin: 1.5rem 0;
    background-color: global.$branco-escuro;
    padding-right: 2rem;
    border-radius: 5px;
    transition: width 0.3s, transform 0.3s, height 0.3s;
    
    &:hover {
        transform: translateX(calc(-50% + 3px));
        background-color: global.$branco;
    }
    
    div {
        max-width: 50vw;
    }
}

.thumb {
    height: 100%;
    width: auto;
    border-radius: 5px 0 0 5px;
}

.leiaMais {
    color: global.$degrade-to;
    font-size: 1rem;
    
    &:hover {
        color: global.$azul-escuro;
        cursor: pointer;
    }
}


.title {
    margin-bottom: 0;
    font-size: 1.2rem;
}

.pubDate {
    font-size: 0.8rem;
    color: global.$cinza;

}

.description,
.description p,
.description a {
    margin: 1.2rem 0;
    font-size: 0.9rem;
}

.episodeOptions {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.playEpisode {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    background-color: global.$azul-escuro;
    color: global.$branco;
    border: none;
    border-radius: 5px;
    transition: background-color 0.2s;
    
    &:hover {
        background-color: global.$azul;
        cursor: pointer
    }
    
    span {
        transform: translateY(1px);
    }
    
    img {
        height: 1.5rem;
    }
}

@media screen and (max-width: 991px){
    .item{
        height: 18rem;
        width: 85vw;
    }
}

@media screen and (max-width: 767px){
    .item{
        height: 17rem;
        width: 90vw;
    }

    .playEpisode{
        padding: 0.25rem 0.25rem 0.25rem 0.5rem;
        border-radius: 3px;
    }
}

@media screen and (max-width: 599px){
    .item {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        height: 12rem;
        width: 90vw;
        background-color: global.$branco-escuro;
        padding-right: 1rem;
        border-radius: 5px;
        transition: width 0.3s, transform 0.3s, height 0.3s;
        
        div{
            max-width: 100%;
            gap: 1rem;
            
            &:last-child{
                margin-top: 1rem;
            }
        }
    }

    .title{
        font-size: 1.2rem;
    }

    .thumb{
        height: 100%;
    }

    .description{
        display: none;
    }
}