footer{
    background-color: var(--preto);
    color: var(--branco);
    padding: 2rem 0;
    display: flex;
    gap: 5rem;
}

footer .logoContainer{
    display: flex;
    margin-left: 13.5vw;
    gap: 1.2rem;
}

footer .logoContainer img{
    height: 4rem;
}

footer .logoContainer p{
    font-family: Arciform;
    font-size: 1.5rem;
}

.bigger{
    margin-bottom: 5rem;
}