footer{
    background-color: var(--preto);
}

.footerContainer{
    color: var(--branco);
    padding: 2rem 0;
    display: flex;
    gap: 5rem;
    width: 70vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

footer img{
    height: 8rem;
    width: auto;
}

.bigger{
    margin-bottom: 5rem;
}