footer{
    background-color: var(--preto);
    padding-bottom: 0.5rem;
}

.footerContainer{
    color: var(--branco);
    padding: 2rem 0;
    display: flex;
    gap: 5rem;
    width: 70vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

footer img{
    height: 8rem;
    width: auto;
}

footer p{
    color: var(--branco);
    text-align: center;
    font-size: 0.8rem;
}

footer p a{
    color: var(--branco);
    font-size: 0.8rem;
    font-weight: 700;
}

.bigger{
    margin-bottom: 5rem;
}