.leiaMaisContainer{
    width: 70vw;
    background-color: var(--branco);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 1.5rem 0;
    padding: 4rem 3rem 1rem 3rem;
}

.leiaMaisContainer p{
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.leiaMaisContainer ul{
    margin-left: 2rem;
}

.leiaMaisContainer li{
    font-size: 1.1rem;
}

.leiaMaisContainer li:last-child{
    margin-bottom: 1.5rem;
}

.detailsTitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 2rem;
}

.detailsTitleContainer div{
    text-align: left;
}

.detailsTitleContainer h1{
    font-size: 1.7rem;
}

.detailsPubDate{
    color: var(--cinza);
}