#player{
    font-family: Arciform;
    font-size: 1.1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(to right, var(--degrade-from), var(--degrade-to));
    padding: 1rem 0 0.75rem 0;
    color: var(--branco);
    transform: translateY(10rem);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    transition: transform 0.3s;
}

.info .timer{
    text-align: left;
}

.btns{
    display: flex;
    gap: 0.75rem;
    align-items: center;
    margin-right: 0.5rem;
}
.btns img{
    height: 1.75rem;
    width: auto;
}
.backward{
    transform: rotate3d(0, 1, 0, 180deg);
}
